<launch>
    <!-- TF for world-->
    <!-- 统一mavros发布的map系与world系 -->
    <node pkg="tf" type="static_transform_publisher" name="tf_world_map"
          args="0 0 0 0 0 0 world map 100"/>

    <!-- filter lidar -->
<!--    <node pkg="laser_filters" type="scan_to_scan_filter_chain" output="screen" name="laser_filter">-->
<!--        <rosparam command="load" file="$(find ego_planner)/config/filter_lidar.yaml"/>-->
<!--    </node>-->

	<!-- run the laser_to_pointcloud -->
<!--    <node pkg="prometheus_plan_manage" type="laser_to_pointcloud.py" name="laser_to_pointcloud" >-->
<!--    </node>-->

    <node pkg="uav_octomapping" type="pcl_merge" name="pcl_merge"/>
</launch>
