<launch>
    <!-- parameter for planner -->
    <arg name="planner" default="APF-Planner"/>

    <!-- world -->
    <include file="$(find apf_planner)/launch/empty_world.launch"/>

    <!-- 1号无人机 -->
    <include file="$(find apf_planner)/launch/sitl.launch"/>

    <include file="$(find apf_planner)/launch/uav_control_main_indoor.launch"/>

    <!-- 启动octomap建图 -->
    <include file="$(find apf_planner)/launch/mapping.launch"/>

    <!-- 启动导航 -->
    <include file="$(find apf_planner)/launch/$(arg planner).launch"/>

    <!-- 启动rviz -->
    <node type="rviz" name="rviz" pkg="rviz" args="-d $(find apf_planner)/config/$(arg planner).rviz"/>
</launch>
